@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.pagewidth {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
}


body {
  font-family: 'Poppins', sans-serif;
}

a, a:visited {
  color: $black;
}

.header-anchor {
  display: none !important;
}

section {
  padding: 100px 0;
  h2 {
    font-size: 56px;
    margin-bottom: 100px;
    text-align: center;
  }
  p {
    margin-bottom: 20px;
  }
  ul, ol {
    list-style: initial;
    list-style-position: inside;
  }
  &.dark {
    color: $white;
    background: $dark-blue;
    a, a:visited {
      color: $white;
    }
  }
  &.light {
    color: $dark-blue;
    background: $light-blue;
    a, a:visited {
      color: $dark-blue;
    }
  }
  &.big-text {
    font-size: 24px;
  }
  &.align-center {
    text-align: center;
  }

  &.with-button {
    .pagewidth {
      display: flex;
      align-items: center;
    }
    .half {
      width: 65%;
      h2 {
        text-align: left;
      }
    }
  }
}
